
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    min-width: 1500px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 14px;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}


/*GOLOVA*/

.header {
    height: 100vh;
    background: url("images/topimage.jpeg") no-repeat top center;
    background-size: cover;
    color: white;
}

.header .bg-overlay {
    height: 100%;
    background: rgba(14, 2, 35, 0.5);
}

/*MENU*/


#top-menu {
    background: rgba(14, 2, 35, 0.8);
    padding: 1rem 2rem;
    position: fixed;
    font-size: 1.2em;
    top: 0;
    z-index: 1;
    width: -webkit-fill-available;
    color: white;
}

.parent-menu li:not(.right) a:hover, .header .menu li.active {
    color: rgb(242, 177, 26);
}

.menu li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.menu li:not(:last-child) {
    margin-right: 1.2rem;
}

.sub-menu {
    position: absolute;
    display: none;
    background: rgba(14, 2, 35, 0.8);
    font-size: 14px;
    padding: 1rem;
}

.sub-menu li:not(:last-child) {
    margin-bottom: 2rem;
    margin-right: 0;

}

.sub-menu-caption:hover .sub-menu {
    display: block;
}

.sub-menu li {
    display: block;
}

.sub-menu-caption .collapse, .sub-menu-caption:hover .expand {
    display: none;
}

.sub-menu-caption:hover .collapse, .sub-menu-caption .expand {
    display: inline-block;

}

.menu li:not(.right) {
    margin-top: 0.5em;
}

.right {
    float: right;
    background: rgba(242, 213, 26, 0.8);
    border: 1px solid white;
    border-radius: 32px;
    padding: 0.5rem 1rem;
}

li.right:hover {
    background-color: rgba(242, 213, 26, 1);
    cursor: pointer;
}


/*титле*/
.title {
    position: absolute;
    bottom: 95px;
    right: 50px;
    font-size: 72px;
    color: white;
}

/*METAAAAAAAAAA*/

.meta {
    position: absolute;
    bottom: 15px;
    right: 50px;
}

.meta ul {
    display: flex;
}

.meta ul li {
    border: solid white 1px;
    border-radius: 24px;
    padding-right: 10px;
    margin-left: 25px;
}

.meta ul li span {
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: rgba(242, 213, 26, 0.8);
    border-radius: 50%;
    font-size: 80%;
    margin-right: 10px;
}


/*social*/


.social {
    position: absolute;
    top: 100px;
    display: flex;
    font-size: 18px;
    right: 35px;
    opacity: .8;
    align-items: center;
}

.social-btns {
    margin-left: 8px;
}

.social-btns a {
    opacity: .6;
    display: inline-block;
}

.social-btns a:hover {
    opacity: 1;
}

.social-btns img {
    max-height: 25px;
}


/*summary*/


.text-center {
    text-align: center;

}

.upper {
    text-transform: uppercase;
}

.section-summary {
    color: black;
    padding: 75px 120px 70px;
}

.section-summary h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}

.section-summary p {
    color: rgb(132, 132, 132);
    font-size: 18px;
    line-height: 35px;
}

.section-summary .add span {
    font-style: italic;
}

/*cast*/


.section-cast {
    height: 100vh;
    min-height: 680px;
    background: url("images/car.jpg");
    background-size: cover;
}

.section-cast .bg-overlay {
    background: rgba(14, 2, 35, 0.8);
    height: 100vh;
}

.section-cast .line {
    display: block;
    height: 2px;
    width: 30px;
    background: white;
    margin: auto;
    position: relative;
    top: 3rem
}

.section-cast h4 {
    font-weight: bold;
    color: white;
    font-size: 24px;
    position: relative;
    top: 3.5rem;
    text-align: center;
    text-transform: uppercase;

}

.section-cast ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 13rem;
}

.section-cast li {
    position: relative;
}

.section-cast li .cast-head {
    width: fit-content;
    font-size: 14px;
    color: white;
    background: rgba(242, 213, 26, 1);
    opacity: 0.8;
    padding: 0.2rem 0.4rem;
    position: absolute;
    top: 10px;
    left: 10px;
}

.section-cast li .cast-text {
    height: 8vh;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.section-cast li .cast-text h5 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(42, 42, 42);
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 1.5vh;
}

.section-cast li .cast-text p {
    font-size: 14px;
    color: rgb(132, 132, 132);
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 2.5vh;
}

.section-cast img {
    height: 50vh;
}


.section-cast li:hover .cast-head, .section-cast li:hover .cast-text {
    opacity: 1;
}

.section-cast li:hover h5 {
    color: white;
}

.section-cast li:hover .cast-text {
    background: rgb(242, 213, 26);
}


/*Trailer*/

.section-trailer {
    box-sizing: border-box;
    height: 100vh;
    min-height: 950px;
    padding: 90px 200px 115px;
}

.section-trailer > ul {
    display: flex;
    height: 100%;
}

.section-trailer a {
    font-size: 14px;
    color: black;
}

.section-trailer > ul > li {
    margin-top: 70px;
}


.section-trailer .upper {
    font-size: 42px;
    font-weight: bold;
}

.section-trailer > ul > li:first-child {
    margin-right: 30px;
    width: 100%;
}

.section-trailer > ul > li:first-child iframe {
    width: 100%;
    height: 100%;
}

.section-trailer > ul li:last-child ul li:last-child {
    margin-top: auto;
    margin-bottom: 15px;
}

.section-trailer > ul li:last-child ul li {
    margin-bottom: 30px;
}

.section-trailer > ul li:last-child ul {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/*Tickets*/

.section-tickets {
    background: url("images/cinema.png") no-repeat;
    background-size: cover;
    text-align: center;
}

.section-tickets h4 {
    font-size: 24px;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
    font-weight: bold;

}

.section-tickets .bg-overlay {
    padding: 4em;
    background: rgba(14, 2, 35, 0.5);

}

.section-tickets a {
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid white;
    background: rgba(242, 213, 26, 0.8);
    border-radius: 32px;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
}

.section-tickets .line {
    display: block;
    height: 2px;
    margin: 0 auto 1rem;
    background: white;
    width: 30px;
}


.section-tickets a:hover {
    cursor: pointer;
    background: rgba(242, 213, 26, 1);
}


/*Footer*/

.section-footer {
    padding: 25px 0;
}

.section-footer .ul-footer {
    display: flex;
    justify-content: center;
}


.section-footer a {
    color: rgb(136, 136, 136);
    padding: 0 5px;
}

.section-footer a:hover {
    text-decoration: underline;
    color: rgb(4, 2, 35);
}



.section-footer .ul-footer li:not(:last-child) {
    border-right: solid 1px rgb(181, 181, 181);
}
